*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: wheat;
}

.canvas{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    margin-top: 5rem;
}

.box{
    border: .5px solid #333;
    width: 10px;
    height: 10px;
}

.colorBox{

    width: 40px;
    height: 20px;
    display: inline-block;
}